<p id="notice"><%= notice %></p>

<div>
 <h2><%= @product.title %></h2>
</div>

<div style="width:60%">
  <div style="float:left;border:1px solid #f3f3f3; padding-right:20px;">
  <%= image_tag @product.image.url(:medium) %>
  </div>

  <p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
  

</div>





<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
